body{font-family:'Roboto';font-size: 16px}

.bgPrincipal{background: url(../img/wall.png)}

.panelCentral{margin:5% 0 0 0;background: #fff;padding: 2%;border-radius: 3px}

.cover{-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;}
